* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, serif;
}

div {
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    top: 8%;
    left: 2%;
    color: greenyellow;
    opacity: 1;
    transition: 0.7s;
    max-width: 200px;

}

div:hover {
    opacity: 1;
    transition: 0.7s;
}
h3 {
    font-size: 14px;
    color: gray;
    font-weight: lighter;
}

button{
    font-size: large;
    background-color: #acfd2f;
    border-radius: 20px;
    padding: 4px;
    text-align: center;
    cursor: pointer;
    color: #262335;
}
button:hover {
    background-color: #2b2b2c;
    color: greenyellow;
}

h3:hover {
color: ghostwhite;
}
::-webkit-scrollbar {
    display: none;
}

body {
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    image-rendering: pixelated;
}
input{
    background-color: #2b2b2c;
    border-radius: 20px;
    padding: 4px;
    text-align: center;
    cursor: pointer;
    font-size: large;
    color: greenyellow;
}

h2 {
    font-size: 12px;
}
h1 {
    opacity: 1;
}