* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div {
    height: 1px;
    width: 1px;
    background-color: #60ff00;
    position: absolute;
}

::-webkit-scrollbar {
    display: none;
}

body {
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
}